@import "bootstrap-sprockets";
@import "bootstrap";
body {
color: grey;
background: url('http://images.nationalgeographic.com/wpf/media-live/photos/000/346/cache/basset-hound-howard_34698_990x742.jpg');
 background-size: cover;
}


